
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.black-box{
    background-color: black;
    height: 33px;
}

.blue-box{
    background-color: dodgerblue;
    height: 33px;
}

.lightblue-box{
    background-color: #37c5c5;
    height: 33px;
}

.grey-box{
    background-color:#8a817c ;
    height: 33px;
}


.ghost{
    height: 50px;
}